html {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
  
  body {
      background-image: url("./backgroundrays.jpg");
      background-repeat: no repeat;
      background-size: cover;
      background-color: #E4FFF7;
      font-family: "Comic Sans MS", "ChalkboardSE-Light", cursive, sans-serif;
      color: #000000;
      font-size: 16px;
      display: flex;   
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      height: 100%;
      max-width: 1500px;
      text-align: center;
      line-height: .75;
    }

  h1 {
      font-family: "Archivo Black", "Archivo", sans-serif;
      color: #5362F6;
      font-size: 89px;
      font-weight: normal;
      text-align: center;
      padding-top: 40px;
    }

  h2, h3 {
      font-family: "Archivo Black", "Archivo", sans-serif;
      color: #5362F6;
      font-size: 50px;
      font-weight: normal;
      text-align: center;
    }

.dropshadow {
    text-shadow: 3px 3px 0px #E485F8;
    }
