/*
new css copy pasted from spirits and such, edit later
*/

html {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;  
    }
  
  body {
      background-color: #E4FFF7;
      font-family: "Comic Sans MS", "ChalkboardSE-Light", cursive, sans-serif;
      color: #000000;
      font-size: 16px;
      display: flex;   
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      height: 100%;
      max-width: 1000px;
      text-align: center;
    }

  h1 {
      font-family: "Archivo Black", "Archivo", sans-serif;
      color: #5362F6;
      font-size: 65px;
      font-weight: normal;
      text-align: center;
    }

  h2, h3 {
      font-family: "Archivo Black", "Archivo", sans-serif;
      color: #5362F6;
      font-size: 50px;
      font-weight: normal;
      text-align: center;
    }

.dropshadow {
    text-shadow: 3px 3px 0px #E485F8;
    }

.wavy span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    }

.wavy span:nth-child(1) {
    animation-delay: 0s;
    }

.wavy span:nth-child(2) {
    animation-delay: 0.2s;
    }

.wavy span:nth-child(3) {
    animation-delay: 0.4s;
    }

.wavy span:nth-child(4) {
    animation-delay: 0.6s;
    }

.wavy span:nth-child(5) {
    animation-delay: 0.8s;
    }

.wavy span:nth-child(6) {
    animation-delay: 1s;
    }

.wavy span:nth-child(7) {
    animation-delay: 1.2s;
    }

.wavy span:nth-child(8) {
    animation-delay: 1.4s;
    }

.wavy span:nth-child(9) {
    animation-delay: 1.6s;
    }

.wavy span:nth-child(10) {
    animation-delay: 1.8s;
    }

.wavy span:nth-child(11) {
    animation-delay: 2s;
    }

.wavy span:nth-child(12) {
    animation-delay: 2.2s;
    }

.wavy span:nth-child(13) {
    animation-delay: 2.4s;
    }

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translatY(-20px);
    }
}
